#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a > #backgroundBox {
  background-color: #DAFDC9;
  position: absolute;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Slice_1 {
  position: absolute;
  width: 360.00000000000057px;
  height: 640.0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_5 {
  position: absolute;
  width: 360.00000000000045px;
  min-height: 640.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_5 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Image_36 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_2 {
  width: 360.0000000000004px;
  height: 400.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_2 td.layout {
  padding: 15px 15px 15px 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_2 .verticalalign {
  vertical-align: middle;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 {
  position: absolute;
  width: 200.11846944201807px;
  height: 28.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 .valign {
  vertical-align: middle;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

 div.relativeLayoutWrapper.s-Group_3 {
  transform: translate(-79.94076527899117px, -5.6843418860808015E-14px);
  width: 200.1184694420181px;
  height: 43.99999999999983px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input {
  position: absolute;
  width: 200.11846944201807px;
  height: 28.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input .valign {
  vertical-align: middle;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

 div.relativeLayoutWrapper.s-Group_4 {
  transform: translate(-79.94076527899117px, -65.0px);
  width: 200.1184694420181px;
  height: 43.999999999999886px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Category > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Category {
  position: absolute;
  width: 200.2675447881883px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

 div.relativeLayoutWrapper.s-Group_2 {
  transform: translate(-79.86622760590606px, -132.0px);
  width: 200.2675447881883px;
  height: 37.000000000000114px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_4 textarea::-webkit-input-placeholder {
  color: #808080;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_4 textarea::-moz-placeholder {
  color: #808080;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_4 textarea:-moz-placeholder {
  color: #808080;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_4 textarea:-ms-input-placeholder {
  color: #808080;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_4 {
  position: absolute;
  width: 99.96347565155435%;
  height: 165.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_4 textarea {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_4 .paddingLayer:first-child {
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 5px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_7 {
  position: absolute;
  width: 99.96347565155435%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_7 > .backgroundLayer > .colorLayer {
  background-color: #757575;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_7 span#rtr-s-Line_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_8 {
  position: absolute;
  width: 99.96347565155435%;
  min-height: 1.9999999999998863px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_8 > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_8 span#rtr-s-Line_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

 div.relativeLayoutWrapper.s-input_text_area {
  transform: translate(358.0000000000001px, -212.0px);
  width: 329.87946965012975px;
  height: 165.9999999999999px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_1 {
  position: absolute;
  width: 100.0%;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

 div.relativeLayoutWrapper.s-Group_1 {
  transform: translate(370.0px, -196.99999999999991px);
  width: 341.87946965012964px;
  height: 180.99999999999997px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Dynamic_Panel_3 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_3 {
  width: 100.0%;
  height: 75.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_3 td.layout {
  padding: 5px 5px 5px 5px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_3 .verticalalign {
  vertical-align: middle;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_3 .Panel_3 > *:first-child {
  margin-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_3 .Panel_3 > *:last-child {
  margin-right: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_3 .Panel_3 > * {
  margin-left: 25.0px;
  margin-right: 25.0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_3 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button {
  width: 106.0px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_1 {
  width: 106.0px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_1 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_1 span#rtr-s-raised_Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_1 {
  width: 100.00000000000011px;
  height: 146.00000000000017px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph {
  position: absolute;
  width: 99.99999999999977px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Image {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Dynamic_Panel {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_4 {
  width: 100.0%;
  height: 100.0%;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(206,83,116,0.8);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_4 td.layout {
  padding: 15px 15px 15px 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: auto;
  overflow-y: auto;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_4 .verticalalign {
  vertical-align: middle;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_4 .Panel_4 > *:last-child {
  margin-bottom: 0;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_4 .Panel_4 > * {
  margin-bottom: 10px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_search {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Components_panel {
  width: 95.0%;
  height: 44.0px;
  filter:  drop-shadow(-0.0174524064372836px 0.9998476951563913px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Components_panel > .backgroundLayer {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Components_panel > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Components_panel > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Components_panel > .backgroundLayer {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Components_panel td.layout {
  padding: 1px 0px 0px 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Components_panel > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Components_panel .verticalalign {
  vertical-align: top;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_2 {
  position: absolute;
  width: 100.0%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0174524064372836px 0.9998476951563913px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_2 .valign {
  vertical-align: top;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_2 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 10.0pt;
  line-height: 17px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Input_2 .paddingLayer:first-child {
  padding-top: 13px;
  padding-right: 51px;
  padding-bottom: 0px;
  padding-left: 40px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-search {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-mic {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Dynamic_Panel_4 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_5 {
  width: 100.0%;
  height: 425.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_5 .verticalalign {
  vertical-align: middle;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item {
  width: 100.0%;
  min-height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item span#rtr-s-Three-line-item_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item span#rtr-s-Three-line-item_1 {
  color: #747474;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item span#rtr-s-Three-line-item_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Verdana',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_2 {
  width: 100.0%;
  min-height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_2 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_2 span#rtr-s-Three-line-item_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_2 span#rtr-s-Three-line-item_2_1 {
  color: #747474;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_2 span#rtr-s-Three-line-item_2_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Verdana',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_1 {
  width: 100.0%;
  min-height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_1 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_1 span#rtr-s-Three-line-item_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_1 span#rtr-s-Three-line-item_1_1 {
  color: #747474;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_1 span#rtr-s-Three-line-item_1_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Verdana',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_3 {
  width: 100.0%;
  min-height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_3 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_3 span#rtr-s-Three-line-item_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_3 span#rtr-s-Three-line-item_3_1 {
  color: #666666;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_3 span#rtr-s-Three-line-item_3_2 {
  color: #747474;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_4 {
  width: 100.0%;
  min-height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_4 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_4 span#rtr-s-Three-line-item_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_4 span#rtr-s-Three-line-item_4_1 {
  color: #666666;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_4 span#rtr-s-Three-line-item_4_2 {
  color: #747474;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_5 {
  width: 100.0%;
  min-height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_5 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_5 span#rtr-s-Three-line-item_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_5 span#rtr-s-Three-line-item_5_1 {
  color: #666666;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_5 span#rtr-s-Three-line-item_5_2 {
  color: #747474;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_6 {
  width: 100.0%;
  min-height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_6 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_6 span#rtr-s-Three-line-item_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_6 span#rtr-s-Three-line-item_6_1 {
  color: #666666;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Three-line-item_6 span#rtr-s-Three-line-item_6_2 {
  color: #747474;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 11.0pt;
  line-height: 18px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Dynamic_Panel_6 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_7 {
  width: 100.0%;
  height: 15.0%;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_7 td.layout {
  padding: 15px 15px 15px 15px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_7 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_7 .verticalalign {
  vertical-align: middle;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_7 .Panel_7 > *:first-child {
  margin-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_7 .Panel_7 > *:last-child {
  margin-right: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_7 .Panel_7 > * {
  margin-left: 25.0px;
  margin-right: 25.0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_7 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_2 {
  width: 109.0px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_2 > .backgroundLayer > .colorLayer {
  background-color: #00A413;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_2 span#rtr-s-raised_Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_4 {
  width: 109.0px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_4 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_4 > .backgroundLayer > .colorLayer {
  background-color: #00A413;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_4 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_4 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_4 span#rtr-s-raised_Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Dynamic_Panel_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_6 {
  width: 95.00000000000006%;
  height: 624.9999999999994px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_6 > .backgroundLayer > .colorLayer {
  background-color: #9C0D38;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_6 > .borderLayer > .layoutWrapper {
  overflow-x: auto;
  overflow-y: auto;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Panel_6 .verticalalign {
  vertical-align: middle;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_79 {
  width: 100.0%;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_79 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_79 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_79 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 25px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_79 span#rtr-s-Paragraph_79_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 25px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Line_9 {
  width: 283.0px;
  height: 2.0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_78 {
  width: 100.0%;
  min-height: 203.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_78 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_78 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_78 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.5pt;
  line-height: 22px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Paragraph_78 span#rtr-s-Paragraph_78_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.5pt;
  line-height: 22px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_3 {
  width: 107.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_3 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_3 > .backgroundLayer > .colorLayer {
  background-color: #00A413;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_3 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_3 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_3 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-raised_Button_3 span#rtr-s-raised_Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a #s-Image_34 {
  position: absolute;
  width: 55.0px;
  height: 54.99999999999987px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-f6b09bb3-0425-43d0-84b2-39916b7a3e1a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
